
.gradle/6.1.1/executionHistory/executionHistory.bin
.gradle/6.1.1/executionHistory/executionHistory.lock
.gradle/6.1.1/fileHashes/fileHashes.bin
.gradle/6.1.1/fileHashes/fileHashes.lock
.gradle/6.1.1/javaCompile/classAnalysis.bin
.gradle/6.1.1/javaCompile/javaCompile.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.idea/libraries/Gradle__androidx_customview_customview_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_navigation_navigation_common_2_3_0_aar.xml
.idea/libraries/Gradle__androidx_drawerlayout_drawerlayout_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_navigation_navigation_fragment_2_3_0_aar.xml
.idea/libraries/Gradle__androidx_navigation_navigation_common_ktx_2_3_0_aar.xml
.idea/libraries/Gradle__androidx_navigation_navigation_runtime_2_3_0_aar.xml
.idea/libraries/Gradle__androidx_navigation_navigation_fragment_ktx_2_3_0_aar.xml
.idea/libraries/Gradle__androidx_navigation_navigation_runtime_ktx_2_3_0_aar.xml
.idea/libraries/Gradle__androidx_navigation_navigation_ui_ktx_2_3_0_aar.xml
.idea/libraries/Gradle__androidx_navigation_navigation_ui_2_3_0_aar.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_common_1_3_71_jar.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_1_3_71_jar.xml
.idea/libraries/Gradle__androidx_transition_transition_1_3_0_aar.xml
.idea/workspace.xml
*.xml
*.idea
*.lock
*.lock
*.bin
*.lock
*.bin
*.lock
*.bin
.idea/workspace.xml
*.xml
app/app.iml
*.iml
.idea/workspace.xml
.idea/workspace.xml
*.xml
.gradle/buildOutputCleanup/buildOutputCleanup.lock
*.lock
.gradle/6.1.1/javaCompile/javaCompile.lock
*.lock
.gradle/6.1.1/javaCompile/classAnalysis.bin
*.bin
.gradle/6.1.1/fileHashes/fileHashes.lock
*.lock
.gradle/6.1.1/fileHashes/fileHashes.bin
*.bin
.gradle/6.1.1/executionHistory/executionHistory.lock
*.lock
.gradle/6.1.1/executionHistory/executionHistory.bin
*.bin
.gradle/6.1.1/javaCompile/javaCompile.lock
.gradle/6.1.1/fileHashes/fileHashes.lock
.gradle/6.1.1/javaCompile/classAnalysis.bin
*.lock
.gradle/6.1.1/fileHashes/fileHashes.lock
.gradle/6.1.1/fileHashes/fileHashes.bin
.gradle/6.1.1/executionHistory/executionHistory.lock
.gradle/6.1.1/executionHistory/executionHistory.bin
.gradle/6.1.1/executionHistory/executionHistory.bin
*.bin
.gradle/6.1.1/executionHistory/executionHistory.lock
*.lock
.gradle/6.1.1/fileHashes/fileHashes.bin
*.bin
.gradle/6.1.1/fileHashes/fileHashes.lock
*.lock
.gradle/6.1.1/javaCompile/classAnalysis.bin
*.bin
.gradle/6.1.1/javaCompile/javaCompile.lock
*.lock
.idea/workspace.xml
*.xml
