<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.Mainco.App">

    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/mainco"
        android:label="@string/MAIN"
        android:roundIcon="@mipmap/mainco_round"
        android:supportsRtl="true"
        android:taskAffinity=".string"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="m">

        <receiver
            android:name="Receiver.ConnectingReceiver"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name="Services.ServicioContador"
            android:enabled="true" />
        <service
            android:name="Services.ServicioCantidad"
            android:enabled="true" />
        <service
            android:name="Services.ServicioProductoMalo"
            android:enabled="true" />
        <service
            android:name="Services.ServicioMotivoParo"
            android:enabled="true" />
        <service
            android:name="Services.ServicioItems"
            android:enabled="true" />
        <service
            android:name="Services.ServicioActividad"
            android:enabled="true" />

        <receiver
            android:name="Receiver.BatteryReceiver"
            android:enabled="true" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".options"
            android:label="@string/title_activity_opciones"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OperadorActivity"
            android:label="@string/title_activity_operador"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegistroActivity"
            android:label="@string/title_activity_registro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OlvidoActivity"
            android:label="@string/title_activity_olvido"
            android:screenOrientation="portrait" />
        <activity
            android:name="Introducciones.INTRODUCCION"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="Introducciones.TERMINADO"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="Introducciones.CLOSE_OP"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="Introducciones.PAUSE_ACTIVAS"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="Introducciones.REGISTRO_PRODUCIDO"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="Introducciones.SYSTEM"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="Introducciones.RECUPERAR_PASSWORD"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="Introducciones.CREAR_USER"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>