<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mainco">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/mainco"
        android:label="@string/MAIN"
        android:roundIcon="@mipmap/mainco_round"
        android:supportsRtl="true"
        android:taskAffinity=".string"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".options" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".OperadorActivity"
            android:label="@string/title_activity_operador" />
        <activity
            android:name=".RegistroActivity"
            android:label="@string/title_activity_registro" />
        <activity
            android:name=".OlvidoActivity"
            android:label="@string/title_activity_olvido" />
        <activity
            android:name="Introducciones.INTRODUCCION"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="Introducciones.TERMINADO"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="Introducciones.CLOSE_OP"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="Introducciones.PAUSE_ACTIVAS"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="Introducciones.REGISTRO_PRODUCIDO"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="Introducciones.SYSTEM"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="Introducciones.RECUPERAR_PASSWORD"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="Introducciones.CREAR_USER"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>