<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mainco">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/mainco"
        android:label="@string/MAIN"
        android:roundIcon="@mipmap/mainco_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">


        <service
            android:name=".ServerConnect"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".Pantalla_Actualizar"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".OperadorActivity"
            android:label="@string/title_activity_operador" />
        <activity
            android:name=".RegistroActivity"
            android:label="@string/title_activity_registro" />
        <activity
            android:name=".OlvidoActivity"
            android:label="@string/title_activity_olvido" />
        <activity
            android:name=".videouno"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".videoocho"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".videosiete"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".videoseix"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".videocinco"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".videocuatro"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".videotres"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".videodos"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>